.welcome-main {
  height: 100vh;
  display: flex;
  align-items: center;
}
.welcome {
  height: 50vh;
  width: 100%;
  background-color: #00bf6f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.welcome > button {
  background-color: #f9be00;
  border: none;
  padding: 0px 45px;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s ease;
}
.welcome > button:hover {
  background-color:black ;
  color: #f9be00;
  border: none;
  /* padding: 0px 50px; */
}
h4 {
  letter-spacing: 2px;
}
h1 {
  letter-spacing: 3px;
}
